// $primary: #ff4000; 
// $secondary: #201e1f;
// $third: #feefdd;
// $fourth: #faaa8d;
// $fifth: #50b2c0;

// $primary: #dd7373; 
// $secondary: #3b3561;
// $third: #ead94c;
// $fourth: #51a3a3;
// $fifth: #d1d1d1;

$primary: #0e0d0d; 
$secondary: #1f1f1f;
$third: #EEE7E1;
$fourth: #272727;
$fifth: #ff4000;

