@use './../../styles/vars';

.app {
  // display: flex;
 width: 90vw;
 height: 90vh;
  margin: 0 auto;
// height: 100vh;
  // padding: 2rem;
  text-align: center;
  align-content: center;

  // &__title {
  //   text-align: center;
  //   font-size: 2rem;
  //   color: vars.$secondary;
  // }
}
