@use './../../styles/vars';


.home {
    display: flex;
    width: 70%;
    height: 100%;
margin: 0 auto;
text-align: center;
flex-direction: column;
font-size: 2em;
padding-top: 7em;

&__intro {
width: 100%;
font-size: 5em;
}

&__name {
    display: flex;
    width: 100%;
    color: vars.$primary;
    font-size: 3em;
    justify-content: center;
}

&__info {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: lighter;

    span {
        font-style: italic;
font-weight: bold;    }
}
}

