@use './../../styles/vars';


.about {
    display: flex;
flex-wrap: wrap;
    // width: 100%;
    height: 100%;
margin: 0 auto;
box-sizing: content-box;
align-content: center;
justify-content:center;
font-size: 4em;


&__intro {
    // background-color: orangered;
    display: flex;
    align-items: end;
    text-align: right;
    width: 100%;
    justify-content:center;
    text-transform: uppercase;
}

&__name {
font-weight: bolder;
font-size: larger;
color: vars.$primary;
}

&__description {
    // background-color: red;
    display: flex;
    align-items: start;
text-align: center;
width: 100%;
justify-content: center;
}
}