@use './../../styles/vars';

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
box-sizing:border-box;
font-size: 1em;
padding: 2em;
background: none;
position:fixed;

  &__list-elem {
    padding: 1.5em;
    font-size: 1.2em;
  }

  &__list-elem:hover {
    color: vars.$fifth;

  }

  &__left {
    display: flex; 
}

  &__right {
    padding: 1em;
  }


  &__title {
    font-size: 1.4em;
    color: vars.$primary;
    font-weight: bold;
  }

  &__title:hover {
color: vars.$fifth;
}
}




