@use './../../styles/vars';

footer {
    display: flex;
    height:3em;
    // background-color: burlywood;
    justify-content: space-between;
    box-sizing: content-box;
    bottom: 0;
position: fixed;
width: 100%;
padding-bottom: 3em;
font-size: 2em;
}

img {
    height: 1.5em;
    padding: 1.5em;
}

img:hover {
    height: 1.6em;
}

.footer__elem {
    padding: 1.5em;
    font-size: 1.2em;
}

.footer__elem:hover {
    font-weight: bold;
    color: vars.$fifth;
}

.footer__right {
    display: flex;
    // background-color: blue;
    align-items: center;
}

.footer__left{
    display: flex;
    // background-color: chocolate;
 align-items: center;
}