@use './../../styles/vars';

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  box-sizing:border-box;
  font-size: 2em;
  padding: 3em;
  background: none;
position: fixed;
left: 0;
bottom: 0;
// height: 100px;
width: 100%;

}

img {
    height: 1.5em;
    padding: 1.5em;
}

img:hover {
    height: 1.6em;
}

.footer__elem {
    padding: 1em;
    font-size: 1.2em;
}

.footer__elem:hover {
    font-weight: bold;
    color: vars.$fourth;
}

.footer__right {
    display: flex;
    // background-color: blue;
    align-items: center;
    padding:1em;
}

.footer__left{
    display: flex;
    // background-color: chocolate;
 align-items: center;
}